*.pyc
venv3
venv
.vscode
**/__pycache__
data
config
meeting_notes
src/tests/*.csv
src/tests/*.png
*.log
src/scripts/*.json
*.txt
src/tests/images
src/tests/.ipynb_checkpoints/
src/tests/*.pdf
src/tests/*.jpg
src/tests/*.json
src/tests/*.x
src/tests/typescript
src/evaluation/typescript
